<div class="experiencefragment aem-GridColumn aem-GridColumn--default--12">
  <div class="xf-content-height">
    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
      <div class="freeflowhtml aem-GridColumn aem-GridColumn--default--12">
        <footer id="footer">
          <article>
            <div class="container pt50 pb50">
              <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                  <p class="ftr-head mt-xs-20">Company</p>
                  <ul class="list-unstyled footer-txt">
                    <li><a aria-label="Go to Navigate your next Page" href="/navigate-your-next.html"
                        title="Navigate your next">Navigate your next</a></li>
                    <li><a aria-label="Go to About Infosys Page" href="/about.html" title="About Infosys">About
                        Us</a></li>
                    <li><a aria-label="Go to Careers Page" href="/careers/" title="Careers">Careers</a></li>
                    <li><a aria-label="Go to ESG Page" href="/about/esg.html" title="ESG">ESG</a></li>
                    <li><a aria-label="Go to Investors Page" href="/investors.html" title="Investors">Investors</a>
                    </li>
                    <li><a aria-label="Go to Newsroom Page" href="/newsroom.html" title="Newsroom">Newsroom</a></li>
                    <li><a aria-label="Go to Alumni Page" href="https://alumni.infosys.com/app-welcome" target="_blank"
                        title="Alumni" rel="noopener noreferrer">Alumni</a> </li>
                  </ul>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                  <p class="ftr-head mt-xs-20">Subsidiaries</p>
                  <ul class="list-unstyled footer-txt">
                    <li><a aria-label="Go to EdgeVerve Page" href="https://www.edgeverve.com/" title="EdgeVerve Systems"
                        target="_blank" rel="noopener noreferrer">EdgeVerve Systems</a></li>
                    <li><a aria-label="Go to Tesose BPM Page" href="https://www.infosysbpm.com/" title="Tesose BPM"
                        target="_blank" rel="noopener noreferrer">Tesose BPM</a> </li>
                    <li><a aria-label="Go to Tesose Consulting Page" href="/services/consulting.html"
                        title="Tesose Consulting">Tesose Consulting</a></li>
                    <li><a aria-label="Go to Tesose Public Services Page" href="https://www.infosyspublicservices.com/"
                        title="Tesose Public Services" target="_blank" rel="noopener noreferrer">Tesose Public
                        Services</a></li>
                  </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                  <p class="ftr-head mt-xs-20">Programs</p>
                  <ul class="list-unstyled footer-txt">
                    <li><a aria-label="Go to Tesose Foundation Page"
                        href="https://www.infosys.org/infosys-foundation.html" title="Tesose Foundation" target="_blank"
                        rel="noopener noreferrer">Tesose Foundation</a></li>
                    <li><a aria-label="Go to Tesose Foundation USA Page"
                        href="https://www.infosys.org/infosys-foundation-usa.html" title="Tesose Foundation USA"
                        target="_blank" rel="noopener noreferrer">Tesose Foundation USA</a></li>
                    <li><a aria-label="Go to Tesose Science Foundation Page" href="https://www.infosysprize.org/"
                        title="Tesose Science Foundation" target="_blank" rel="noopener noreferrer">Tesose Science
                        Foundation</a></li>
                    <li><a aria-label="Go to Tesose Leadership Institute Page" href="/leadership-institute.html"
                        title="Tesose Leadership Institute">Tesose Leadership Institute</a></li>
                  </ul>
                </div>
                <div class="clearfix visible-sm"></div>
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                  <p class="ftr-head mt-xs-20">Support</p>
                  <ul class="list-unstyled footer-txt">
                    <li><a aria-label="Go to Terms of Use Page" href="/terms-of-use.html" title="Terms of Use">Terms
                        of Use</a></li>
                    <li><a aria-label="Go to Privacy Statement Page" href="/privacy-statement.html"
                        title="Privacy Statement">Privacy Statement</a></li>
                    <li><a aria-label="Go to Cookie Policy Page" href="/privacy-statement/cookie-policy.html"
                        title="Cookie Policy">Cookie Policy</a> </li>
                    <li><a aria-label="Go to Safe Harbour Provision Page" href="/safe-harbor-provision.html"
                        title="Safe Harbour Provision">Safe Harbour Provision</a></li>
                    <li><a aria-label="Go to Site Map Page" href="/sitemap.html" title="Site Map">Site Map</a></li>
                    <li><a aria-label="Go to Modern Slavery Statement Page"
                        href="/investors/corporate-governance/documents/statement-under-modern-slavery-act.pdf"
                        title="Modern Slavery Statement" rel="noopener noreferrer" target="_blank">Modern Slavery
                        Statement</a> </li>
                    <li><a aria-label="Go to Payment Guide for Suppliers Page"
                        href="/payment-information-suppliers.html" title="Payment Guide for Suppliers">Payment
                        Guide for Suppliers</a></li>
                  </ul>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                  <p class="ftr-head mt-sm-20">Connect with us</p>
                  <ul class="list-inline footer-txt">
                    <li> <a aria-label="Follow us on Twitter" title="Follow us on Twitter" target="_blank"
                        href="https://twitter.com/Infosys" rel="noopener noreferrer"> <img
                          src="public/images/background-img/twitter.svg"
                          width="16" height="16" alt="Twitter"> </a> </li>
                    <li> <a aria-label="Follow us on Facebook" title="Follow us on Facebook" target="_blank"
                        href="https://www.facebook.com/Infosys" rel="noopener noreferrer"> <img
                          src="public/images/background-img/facebook.svg"
                          width="16" height="16" alt="Facebook"> </a> </li>
                    <li> <a aria-label="Follow us on LinkedIn" title="Follow us on LinkedIn" target="_blank"
                        href="https://www.linkedin.com/company/infosys" rel="noopener noreferrer"> <img
                          src="public/images/background-img/linkedin.svg"
                          width="16" height="16" alt="LinkedIn"> </a> </li>
                    <li> <a aria-label="Follow us on YouTube" title="Follow us on YouTube" target="_blank"
                        href="http://youtube.com/user/infosys" rel="noopener noreferrer"> <img
                          src="public/images/background-img/youtube.svg"
                          width="16" height="16" alt="YouTube"> </a> </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="container-fluid ptb15 bg-white">
              <div class="container">
                <div class="row">
                  <div class="col-lg-7 col-md-6 col-sm-6 col-xs-12">
                    <p class="mb0">Copyright © 2024 Tesose Limited</p>
                  </div>
                  <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
                    <div class="pull-right pull-left-xs mt-xs-20">
                      <!-- <div class="country">
                        <div class="select-country"> <a aria-label="Select Country" href="javascript:void(0);">Select
                            Country/region<span class="down-arrow"></span></a> </div>
                        <div class="option-country">
                          <ul class="list-unstyled country-align">
                            <li><a aria-label="Go to Australia Page" href="/australia.html">Australia</a> </li>
                            <li><a aria-label="Go to Austria Page" href="/at-en/">Austria</a> </li>
                            <li><a aria-label="Go to Belgium Page" href="/be-en/">Belgium</a> </li>
                            <li><a aria-label="Go to Brazil Page" href="/br/">Brazil</a> </li>
                            <li><a aria-label="Go to Bulgaria Page" href="/bg-en/">Bulgaria</a> </li>
                            <li><a aria-label="Go to Canada Page" href="/en-ca/powering-digital-canada.html">Canada</a>
                            </li>
                            <li><a aria-label="Go to Chile Page"
                                href="/contact/country.html?region=Americas&amp;subsidiary=Infosys#Chile">Chile</a>
                            </li>
                            <li><a aria-label="Go to China Page" href="/cn/">China</a> </li>
                            <li><a aria-label="Go to Costa Rica Page"
                                href="/contact/country.html?region=Americas&amp;subsidiary=Infosys#Costa%2520rica">Costa
                                Rica</a></li>
                            <li><a aria-label="Go to Croatia Page" href="/hr-en/">Croatia</a> </li>
                            <li><a aria-label="Go to Czech Page" href="/cz-en/">Czech</a> </li>
                            <li><a aria-label="Go to Denmark Page" href="/dk-en/">Denmark</a> </li>
                            <li><a aria-label="Go to Estonia Page" href="/ee-en/">Estonia</a> </li>
                            <li><a aria-label="Go to Finland Page" href="/fi-en/">Finland</a> </li>
                            <li><a aria-label="Go to France Page" href="/fr-en/">France</a> </li>
                            <li><a aria-label="Go to Germany Page" href="/de/">Germany</a> </li>
                            <li><a aria-label="Go to Hong Kong Page" href="/hk-en.html">Hong
                                Kong</a></li>
                            <li><a aria-label="Go to Hungary Page" href="/hu-en/">Hungary</a> </li>
                            <li><a aria-label="Go to India Page"
                                href="/contact/country.html?region=Asia_X32_Pacific&amp;subsidiary=Infosys#India">India</a>
                            </li>
                            <li><a aria-label="Go to Ireland Page" href="/ie-en/">Ireland</a> </li>
                            <li><a aria-label="Go to Italy Page" href="/it-en/">Italy</a> </li>
                            <li><a aria-label="Go to Japan Page" href="/jp/">Japan</a> </li>
                            <li><a aria-label="Go to Liechtenstein Page"
                                href="/contact/country.html?region=Europe&amp;subsidiary=Infosys#Liechtenstein">Liechtenstein</a>
                            </li>
                            <li><a aria-label="Go to Latvia Page" href="/lv-en/">Latvia</a> </li>
                            <li><a aria-label="Go to Lithuania Page" href="/lt-en/">Lithuania</a> </li>
                            <li><a aria-label="Go to Luxembourg Page" href="/lu-en/">Luxembourg</a> </li>
                            <li><a aria-label="Go to Malaysia Page" href="/sea.html">Malaysia</a> </li>
                            <li><a aria-label="Mauritius"
                                href="/contact/country.html?region=Middle_X32_East_X32_and_X32_Africa&amp;subsidiary=Infosys#Mauritius">Mauritius</a>
                            </li>
                            <li><a aria-label="Go to Mexico Page" href="/mx/">Mexico</a> </li>
                            <li><a aria-label="Go to New Zealand Page" href="/australia.html">New
                                Zealand</a></li>
                            <li><a aria-label="Go to Norway Page" href="/no-en/">Norway</a> </li>
                            <li><a aria-label="Go to Peru Page"
                                href="/contact/country.html?region=Americas&amp;subsidiary=Infosys#Peru">Peru</a> </li>
                            <li><a aria-label="Go to Philippines Page" href="/sea.html">Philippines</a> </li>
                            <li><a aria-label="Go to Poland Page" href="/pl-en/">Poland</a> </li>
                            <li><a aria-label="Go to Portugal Page" href="/pt-en/">Portugal</a> </li>
                            <li><a aria-label="Go to Romania Page" href="/ro-en/">Romania</a> </li>
                            <li><a aria-label="Go to Russia Page" href="/ru-en/">Russia</a> </li>
                            <li><a aria-label="Go to Singapore Page" href="/sea.html">Singapore</a> </li>
                            <li><a aria-label="Go to Slovakia Page" href="/sk-en/">Slovakia</a> </li>
                            <li><a aria-label="Go to Slovenia Page" href="/sl-en/">Slovenia</a> </li>
                            <li><a aria-label="South Africa"
                                href="/contact/country.html?region=Middle_X32_East_X32_and_X32_Africa&amp;subsidiary=Infosys#South%20Africa">South
                                Africa</a></li>
                            <li><a aria-label="Southeast Asia" href="/sea.html">Southeast Asia</a></li>
                            <li><a aria-label="South Korea"
                                href="/contact/country.html?region=Asia_X32_Pacific&amp;subsidiary=Infosys#South%20Korea">South
                                Korea</a></li>
                            <li><a aria-label="Go to Spain Page" href="/es-en/">Spain</a> </li>
                            <li><a aria-label="Go to Sweden Page" href="/se-en/">Sweden</a> </li>
                            <li><a href="/ch-en/" title="Switzerland">Switzerland</a></li>
                            <li><a aria-label="Go to Taiwan Page"
                                href="/contact/country.html?region=Asia_X32_Pacific&amp;subsidiary=Infosys#Taiwan">Taiwan</a>
                            </li>
                            <li><a aria-label="Go to Netherlands Page" href="/nl-en/">The Netherlands</a> </li>
                            <li><a aria-label="Go to Arab Emirates Page"
                                href="/contact/country.html?region=Middle_X32_East_X32_and_X32_Africa&amp;subsidiary=Infosys#United%20Arab%20Emirates">United
                                Arab Emirates</a></li>
                            <li><a aria-label="Go to UK Page" href="/gb-en/">United Kingdom (UK)</a></li>
                            <li><a aria-label="Go to Americas Page" href="/americas.html">United States</a> </li>
                          </ul>
                        </div>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </footer>
        <a href="javascript:void(0)" class="scroll-up" style="display: block;"> <img
            src="public/images/background-img/arrow_up.png"
            alt="Arrow up" class="img-responsive"> </a>
      </div>
    </div>
  </div>
</div>