<section id="do_more" class="scroll-section pt75 overflow-hidden">
    <article class="container relative">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center wow fadeInUp animated" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;"> 
          <img src="https://www.infosys.com/content/dam/infosys-web/en/global-resource/images/vertical-line1.png" class="" alt="">
          <h2 class="h2-heading">The next</h2>
          <p class="col-lg-8 col-md-8 col-md-offset-2 col-sm-12 col-xs-12 para-txt light-gray mb50">We bring you
            powerful advantages to navigate your digital transformation</p>
        </div>
      </div>
      <div class="row">
        <div class="grid-do_more col-md-12 col-sm-12 col-xs-12 wow fadeInUp animated" data-wow-delay="0.6s" style="visibility: visible;-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s;">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb-xs-20 p0 ctrl-width-mob bg-amethyst-dark"> <a href="/navigate-your-next/digital-capabilities/experience.html" title="Experience" class="d-block bg-amethyst-dark">
              <figure class="img-effect"> <img data-src="public/images/home/images/experience.jpg" alt="Experience" class="img-responsive" src="public/images/home/images/experience.jpg">
                <div class="bottom-gradient-do_more"></div>
                <figcaption>
                  <h2 class="do_more-grid-title">Experience</h2>
                  <p class="do_more-grid-desc"> <strong>Design-led transformation. From brand to
                      experience</strong> <span class="hidden-1024">Create unified digital experiences
                      to enhance customer experience and build loyalty</span> </p>
                </figcaption>
              </figure>
            </a> </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-xs-20 p0 ctrl-width-mob bg-amethyst-dark"> <a href="/navigate-your-next/digital-capabilities/insight.html" title="Insight" class="d-block bg-amethyst-dark">
              <figure class="img-effect"> <img data-src="public/images/home/images/insight.jpg" alt="Insight" class="img-responsive" src="public/images/home/images/insight.jpg">
                <div class="bottom-gradient-do_more"></div>
                <figcaption>
                  <h2 class="do_more-grid-title">Insight</h2>
                  <p class="do_more-grid-desc"> <strong>Do 100x more. Do it yourself</strong> <span class="hidden-1024">Build an analytics-driven enterprise to monetize data</span> </p>
                </figcaption>
              </figure>
            </a> </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-xs-20 p0 ctrl-width-mob bg-amethyst-dark"> <a href="/navigate-your-next/digital-capabilities/innovate.html" title="Innovate" class="d-block bg-amethyst-dark">
              <figure class="img-effect"> <img data-src="public/images/home/images/innovate.jpg" alt="Innovate" class="img-responsive" src="public/images/home/images/innovate.jpg">
                <div class="bottom-gradient-do_more"></div>
                <figcaption>
                  <h2 class="do_more-grid-title">Innovate</h2>
                  <p class="do_more-grid-desc"> <strong>Bridge the physical and digital, with software and
                      platforms</strong> <span class="hidden-1024">Engineer digital-first products and
                      offerings to create new revenue streams</span> </p>
                </figcaption>
              </figure>
            </a> </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-xs-20 p0 ctrl-width-mob bg-amethyst-dark"> <a href="/navigate-your-next/digital-capabilities/accelerate.html" title="Accelerate" class="d-block bg-amethyst-dark">
              <figure class="img-effect"> <img data-src="public/images/home/images/accelerate.jpg" alt="Accelerate" class="img-responsive" src="public/images/home/images/accelerate.jpg">
                <div class="bottom-gradient-do_more"></div>
                <figcaption>
                  <h2 class="do_more-grid-title">Accelerate</h2>
                  <p class="do_more-grid-desc"> <strong>Keep your core. Keep innovating</strong> <span class="hidden-1024">Find your path to non-disruptive renewal of IT
                      landscapes</span> </p>
                </figcaption>
              </figure>
            </a> </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-xs-20 p0 ctrl-width-mob bg-amethyst-dark"> <a href="/navigate-your-next/digital-capabilities/assure.html" title="Assure" class="d-block bg-amethyst-dark">
              <figure class="img-effect"> <img data-src="public/images/home/images/assure.jpg" alt="Assure" class="img-responsive" src="public/images/home/images/assure.jpg">
                <div class="bottom-gradient-do_more"></div>
                <figcaption>
                  <h2 class="do_more-grid-title">Assure</h2>
                  <p class="do_more-grid-desc"> <strong>Digital-trust. Assured.</strong> <span class="hidden-1024">To be
                      the catalyst for growth by solving complex
                      cybersecurity problems, minimizing risks and building cyber resilience for your
                      businesses across the globe</span> </p>
                </figcaption>
              </figure>
            </a> </div>
        </div>
      </div>
      <div class="row mt50 wow fadeInUp animated" data-wow-delay="0.9s" style="visibility: visible;-webkit-animation-delay: 0.9s; -moz-animation-delay: 0.9s; animation-delay: 0.9s;">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
          <div class="expandHead text-center" data-id="#expand-offerings"> <a href="/services.html" class="visible-xs" aria-label="Read about Service offerings" title="Service offerings">
              <h5>Service offerings</h5>
              <span class="doMoreExpand"></span>
            </a>
            <a href="javascript:void(0);" class="hidden-xs" aria-label="Read about Service offerings" title="Service offerings">
              <h5>Service offerings</h5>
              <span class="doMoreExpand"></span>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
          <div class="expandHead text-center" data-id="#expand-industries"> <a href="/industries.html" aria-label="Read about Industries" class="visible-xs" title="Explore industries">
              <h5>Explore industries</h5>
              <span class="doMoreExpand"></span>
            </a>
            <a href="javascript:void(0);" class="hidden-xs" aria-label="Read about Explore industries" title="Explore industries">
              <h5>Explore industries</h5>
              <span class="doMoreExpand"></span>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
          <div class="expandHead text-center" data-id="#expand-products"> <a href="/products-and-platforms.html" class="visible-xs" aria-label="Read about Our platforms" title="Our platforms">
              <h5>Our platforms</h5>
              <span class="doMoreExpand"></span>
            </a>
            <a href="javascript:void(0);" class="hidden-xs" aria-label="Read about Our platforms" title="Our platforms">
              <h5>Our platforms</h5>
              <span class="doMoreExpand"></span>
            </a>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
          <div class="expandHead text-center" data-id="#expand-digital"> <a href="/navigate-your-next.html" class="visible-xs" aria-label="Read about Navigate your next" title="Navigate your next">
              <h5>Navigate your next</h5>
              <span class="doMoreExpand"></span>
            </a>
            <a href="javascript:void(0);" class="hidden-xs" aria-label="Read about Navigate your next" title="Navigate your next">
              <h5>Navigate your next</h5>
              <span class="doMoreExpand"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="expand-container hidden-xs">
        <div id="expand-offerings" class="expandableDiv">
          <div class="overlay-expand"></div>
          <div class="img-pos"> <img data-src="public/images/home/images/digital_img.jpg" alt="Bringing data, insights and digital experiences to the ATP world tour" class="img-responsive" src="public/images/home/images/digital_img.jpg">
            <div class="container">
              <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                  <h2>Bringing data, insights and digital experiences to the ATP world tour</h2>
                  <p>Imagine a machine with a mind of its own- one that tells you the exact degree to bend
                    for the perfect backhand.
                    This future is being shaped with data-driven analytics, virtual reality and
                    artificial intelligence. Infosys
                    and ATP World Tour have partnered to explore these new rich digital experiences, so
                    you can see the game
                    you love, like never before.</p>
                  <p> <a href="/atp.html" class="btn btn-shutter-more bdr" aria-label="Read more about ATP" title="Learn more">Learn more</a> </p>
                </div>
                <div class="col-lg-4 col-md-4 col-md-offset-1 col-sm-4 col-xs-12">
                  <h2>Explore services</h2>
                  <p> <a href="/blockchain.html" aria-label="Read more about Blockchain" title="Blockchain">Blockchain</a> </p>
                  <p> <a href="/services/cloud-cobalt.html" aria-label="Read more about Infosys Cobalt" title="Infosys Cobalt">Infosys
                      Cobalt</a> </p>
                  <p> <a href="/services/data-analytics.html" aria-label="Read more about Data analytics" title="Data analytics">Data
                      analytics</a> </p>
                  <p> <a href="/services/application-modernization/offerings/mainframe-modernization.html" aria-label="Read more about Mainframe modernization" title="Mainframe modernization">Mainframe
                      modernization</a> </p>
                  <p> <a href="/services.html" aria-label="Go to Services Page" title="View all" class="btn btn-shutter-more bdr">View all</a> </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="expand-industries" class="expandableDiv">
          <div class="overlay-expand"></div>
          <div class="img-pos"> <img data-src="public/images/home/images/truly-strategic-partner.jpg" alt="Aimia and Infosys: Innovating for a better future" class="img-responsive" src="public/images/home/images/truly-strategic-partner.jpg">
            <div class="container">
              <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                  <h2>Aimia and Infosys: Innovating for a better future</h2>
                  <p>Jan – Pieter Lips, President, International Coalitions, Aimia speaks about the
                    evolution of the relationship
                    between Aimia and Infosys and our journey from being a trusted IT vendor partner to
                    a truly strategic partner
                    to Aimia. At the core of this relationship is an environment of always-on learning
                    and relentless innovation.</p>
                  <p> <a href="/about/clients-speak/innovating-better-future.html" class="btn btn-shutter-more bdr" aria-label="LEarn more about Aimia and Infosys: Innovating for a better future" title="Learn more">Learn more</a> </p>
                </div>
                <div class="col-lg-4 col-md-4 col-md-offset-1 col-sm-4 col-xs-12">
                  <h2>Explore industries</h2>
                  <p> <a href="/industries/aerospace-defense.html" aria-label="Read more about Aerospace &amp; Defense" title="Aerospace &amp; Defense">Aerospace &amp;
                      Defense</a> </p>
                  <p> <a title="Agriculture" aria-label="Read more about Agriculture" href="/industries/agriculture.html">Agriculture</a> </p>
                  <p> <a href="/industries/automotive.html" aria-label="Read more about Automotive" title="Automotive">Automotive</a> </p>
                  <p> <a title="Financial Services" aria-label="Read more about Financial Services" href="/industries/financial-services.html">Financial
                      Services</a> </p>
                  <p> <a href="/industries/communication-services.html" aria-label="Read more about Communication Services" title="Communication Services">Communication
                      Services</a> </p>
                  <p> <a href="/industries.html" aria-label="View all Industries" title="View all" class="btn btn-shutter-more bdr">View all</a> </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="expand-products" class="expandableDiv">
          <div class="overlay-expand"></div>
          <div class="img-pos"> <img data-src="public/images/home/images/automated-production.jpg" alt="Bring the power of AI to build a deeply automated foundation for the enterprise" class="img-responsive" src="public/images/home/images/automated-production.jpg">
            <div class="container">
              <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                  <h2>Bring the power of AI to build a deeply automated foundation for the enterprise</h2>
                  <p>Infosys Nia is helping organizations succeed with enterprise-grade artificial
                    intelligence by simplifying
                    complex tasks and amplifying capabilities to allow the enterprise to reinvent itself
                    and do things it could
                    never do before</p>
                  <p> <a href="https://www.edgeverve.com/artificial-intelligence/nia/" class="btn btn-shutter-more bdr" aria-label="Read about Bring the power of AI to build a deeply automated foundation for the enterprise" title="Learn more">Learn more</a> </p>
                </div>
                <div class="col-lg-4 col-md-4 col-md-offset-1 col-sm-4 col-xs-12">
                  <h2>Explore platforms</h2>
                  <p> <a href="https://www.edgeverve.com/" aria-label="Read more about EdgeVerve" title="EdgeVerve">EdgeVerve</a> </p>
                  <p> <a href="https://www.edgeverve.com/finacle/" aria-label="Read more about Infosys Finacle" title="Infosys Finacle">Infosys
                      Finacle</a> </p>
                  <p> <a href="https://www.edgeverve.com/artificial-intelligence/nia/" aria-label="Infosys Nia" title="Infosys Nia">Infosys Nia</a> </p>
                  <p> <a href="http://www.panaya.com/" aria-label="Read more about Panaya" title="Panaya">Panaya</a>
                  </p>
                  <p> <a href="https://www.infosysequinox.com/" aria-label="Read more about Infosys Equinox" title="Infosys Equinox">Infosys
                      Equinox</a> </p>
                  <p> <a href="/products-and-platforms.html" aria-label="View all Products and Platforms" title="View all" class="btn btn-shutter-more bdr">View
                      all</a> </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="expand-digital" class="expandableDiv">
          <div class="img-pos"> <img data-src="https://www.infosys.com/content/dam/infosys-web/en/global-resource/responsive/newdesign/navigate-next.png" alt="Navigate your next" class="img-responsive" src="https://www.infosys.com/content/dam/infosys-web/en/global-resource/responsive/newdesign/navigate-next.png">
            <div class="container">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-7 col-xs-12">
                  <h2>Navigate your next</h2>
                  <p>Discover how we navigate our clients from where they are to where they aspire to be.
                    We do it by enabling
                    them with an AI-powered core that helps prioritize the execution of change. We also
                    empower the business
                    with agile digital at scale to deliver unprecedented levels of performance. Our
                    always-on learning agenda
                    drives their continuous improvement.</p>
                  <p> <a href="/navigate-your-next.html" aria-label="Explore Navigate your next" class="btn btn-shutter-more" title="Explore">Explore</a> </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="closeWrpr hidden-xs"></div>
  
      <!-- Insights Promo box -->
      <div class="mt50 mb50 clearfix">
        <div class="promo-video-wrapper bg-sapphire-dark wow fadeInUp animated" data-wow-delay="0.9s" style="visibility: visible;-webkit-animation-delay: 0.9s; -moz-animation-delay: 0.9s; animation-delay: 0.9s;">
          <!-- IMG Wrapper -->
          <div class="img-wrapper">
            <!-- Only image(800*500) banner -->
            <img data-src="https://www.infosys.com/content/dam/infosys-web/en/global-resource/18/banner/launches-new-sonic-identity-lead.png" class="promo-img" alt="Ring the Sound of Opportunity, Move 1,000+1,000 Lives Forward" src="https://www.infosys.com/content/dam/infosys-web/en/global-resource/18/banner/launches-new-sonic-identity-lead.png">
          </div>
          <!-- /.IMG Wrapper -->
  
          <!-- CNT Wrapper -->
          <div class="cnt-overlay-promo1">
            <div class="cnt-wrapper">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <!--<p class="text-uppercase topicIndicator">Press Release</p>-->
                    <h3 class="redefine-title mb10">Ring the Sound of Opportunity, Move 1,000+1,000 Lives Forward</h3>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-xs-20 mt50"> <a class="btn explore-btn text-uppercase" href="/soundofopportunity.html" aria-label="Read about Ring the Sound of Opportunity, Move 1,000+1,000 Lives Forward" title="Read more">Read more</a> </div>
                </div>
              </div>
            </div>
          </div>
          <!-- CNT Wrapper -->
        </div>
      </div>
      <!-- /.Insights Promo box -->
  
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
          <div class="our-purpose">
            <h2 class="title-sml mb20">Our Purpose:</h2>
            <p class="para-ovr pt0 fontweight600">To amplify human potential and create the next opportunity for
              people, businesses and communities</p>
          </div>
        </div>
      </div>
    </article>
  </section>