<section id="operating_models" class="scroll-section relative bg-blue-dark-ctrl home_promo_banner">
    <article class="container">
      <div class="row">
        <div class="content home-third-heading-top">
          <div class="col-lg-6 col-md-6 col-sm-6 col-md-offset-6 col-xs-12 wow fadeInUp animated"
            data-wow-delay="0.3s"
            style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
            <h2 class="home-second-heading white-color mb20 mb-xs-10" id="operating0">Digital Operating Model
            </h2>
            <p class="fullpage-desc white-color"> <em>For the AI-first Enterprise</em></p>
            <p class="mb20 mb-xs-10 mt50 mt-xs-0 animateThird"> <a
                href="/navigate-your-next/digital-operating-models.html" aria-describedby="operating0"
                aria-label="Explore Digital Operating Model" title="Explore"
                class="btn btn-shutter-more text-uppercase fontweight600">Explore</a></p>
            <div class="row hidden-xs">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-xs-20">
                <p class="fullpage-second-title">Client Speak</p>
                <h3 class="fullpage-second-desc white-color" id="client0">A transformation story of BASF
                  Agricultural Solutions to achieve faster time-to-market using DevOps and DataOps</h3>
                <p class="fullpage-second-more text-uppercase black-color mt20"> <a
                    href="/services/agile-devops/case-studies/basf-agriculture-solutions.html"
                    class="view-more white-color" aria-describedby="client0"
                    aria-label="Read about A transformation story of BASF Agricultural Solutions to achieve faster time-to-market using DevOps and DataOps"
                    title="View">View</a></p>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-xs-20">
                <p class="fullpage-second-title">Client Testimonial</p>
                <h3 class="fullpage-second-desc white-color" id="client1">NN Life Insurance Company Partners
                  with Tesose for its Cloud and Agile Transformation</h3>
                <p class="fullpage-second-more text-uppercase black-color mt20"> <a
                    href="/industries/insurance/case-studies/cloud-agile-transformation.html"
                    class="view-more white-color" aria-describedby="client1"
                    aria-label="Read about NN Life Insurance Company Partners with Tesose for its Cloud and Agile Transformation"
                    title="View">View</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="background fullCoverImg-left agile-digital-bg-img dnf-digital-operating-lead"></div>
    </article>
  </section>