@font-face {
    font-family: 'Tungsten A';
    src: url('https://www.infosys.com/content/dam/infosys-web/en/services/application-modernization/insights/modernization-radar-2022/fonts/tungstenw05-medium.woff2')
        format('woff2'),
      url('https://www.infosys.com/content/dam/infosys-web/en/services/application-modernization/insights/modernization-radar-2022/fonts/tungstenw05-medium.woff')
        format('woff');
    /* url('../fonts/Tungsten-Bold.eot'),
      url('../fonts/Tungsten-Bold.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/Tungsten-Bold.ttf') format('truetype'), 
       url('../fonts/Tungsten-Bold.svg#Tungsten-Bold') format('svg'); */
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Tungsten B';
    src: url('https://www.infosys.com/content/dam/infosys-web/en/services/application-modernization/insights/modernization-radar-2022/fonts/tungstenw05-medium.woff2')
        format('woff2'),
      url(https://www.infosys.com/content/dam/infosys-web/en/services/application-modernization/insights/modernization-radar-2022/fonts/tungstenw05-medium.woff')
        format('woff');
    /* url('../fonts/Tungsten-Bold.eot'),
      url('../fonts/Tungsten-Bold.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/Tungsten-Bold.ttf') format('truetype'), 
       url('../fonts/Tungsten-Bold.svg#Tungsten-Bold') format('svg'); */
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  