<section id="talent_transformations"
class="scroll-section relative bg-amethyst-medium-ctrl home_promo_banner">
<article class="container">
  <div class="row">
    <div class="content home-second-heading-top">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 wow fadeInUp animateFirst animated"
        data-wow-delay="0.3s"
        style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
        <h2 class="home-second-heading white-color mb20 mb-xs-10" id="empowering0">Empowering Talent
          Transformations</h2>
        <p class="fullpage-desc white-color"> <em>Embrace the talent revolution to remain relevant in the
            future.</em></p>
        <p class="mb20 mb-xs-10 mt50 mt-xs-0 animateThird"> <a
            href="/navigate-your-next/talent-transformations.html" aria-describedby="empowering0"
            aria-label="Explore Empowering Talent Transformations" title="Explore"
            class="btn btn-shutter-more text-uppercase fontweight600">Explore</a></p>
        <div class="row hidden-xs">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-xs-20">
            <p class="fullpage-second-title">Insights</p>
            <h3 class="fullpage-second-desc white-color" id="insights0">Improving productivity with
              digital field workforce management</h3>
            <p class="fullpage-second-more text-uppercase black-color mt20"> <a
                href="/iki/insights/digital-field-workforce-management.html" class="view-more white-color"
                aria-describedby="insights0"
                aria-label="Read about Improving productivity with digital field workforce management"
                title="View">View</a></p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <p class="fullpage-second-title">&nbsp;</p>
            <h3 class="fullpage-second-desc white-color" id="insights1">Developing talent for our digital
              future</h3>
            <p class="fullpage-second-more text-uppercase black-color mt20"> <a
                href="/insights/human-potential/impactful-organization.html" class="view-more white-color"
                aria-describedby="insights1"
                aria-label="Read about Developing talent for our digital future" title="View">View</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="background fullCoverImg learn-bg-img dnf-talent-transformations-lead"></div>
</article>
</section>