<div>
  <div class="root responsivegrid">

    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
      <div class="pagedetails parbase aem-GridColumn aem-GridColumn--default--12">

      </div>
      <div class="header aem-GridColumn aem-GridColumn--default--12">
        <header>
          <nav class="navbar navbar-default navbar-fixed-top scrollbg-show" role="navigation">
            <div class="container mt45">
              <div class="navbar-header page-scroll">
                <a class="navbar-brand" href="" title="">
                  <img style="width: 85px;height: 50px;" src="public/images/tesose-logo.png" alt="">
                </a>
              </div>
              <div class="header-menu hidden-tab" style="display: block;">
                <ul class="nav navbar-nav navbar-right pos-right">
                  <li> <a href="" title="Navigate your next digital framework">Navigate your
                      next</a> </li>
                  <li> <a href="" title="Infosys Knowledge Institute Business and Technology Trends">Tesose
                      Knowledge Institute</a> </li>
                  <li> <a href="" title="Investor Relations">Investors</a> </li>
                  <li> <a href="" title="Explore Careers Opportunities">Careers</a> </li>
                </ul>

              </div>
              <div role="search">
                <div class="search__color">
                  <svg class="hidden1">
                    <defs>
                      <symbol id="icon-search" viewBox="0 0 24 24">
                        <title>search</title>
                        <path
                          d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
                        </path>
                      </symbol>
                      <symbol id="icon-cross" viewBox="0 0 24 24">
                        <title>cross</title>
                        <path
                          d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z">
                        </path>
                      </symbol>
                    </defs>
                  </svg>
                  <div class="main-wrap">
                    <div class="search-wrap search-icon">
                      <button id="btn-search" class="btn1 btn--search search-toggle-bg" aria-label="Click to search">
                        <svg class="icon icon--search" role="img" aria-hidden="true" focusable="flase">
                          <use xlink:href="#icon-search"></use>
                        </svg>
                      </button>
                    </div>
                  </div>
                  <div class="search" aria-label="Site Search">
                    <div class="search__inner search__inner--up">
                    
                      <form class="search__form" action="/search.html" method="get">
                        <input id="k" class="search__input" name="k" type="search" placeholder="What are you looking for?" autocomplete="off" spellcheck="false" title="Search" aria-label="search text"/>
                                               <label for="k" class="none">Search</label>
                        <span class="search__info">Hit enter to search or ESC to close</span>
                
                      </form>
                    </div>
                                 <button id="btn-search-close" class="btn1 btn--search-close" aria-label="Close search form">
                      <svg class="icon icon--cross">
                        <use xlink:href="#icon-cross"></use>
                      </svg>
                    </button>
                    <div class="search__inner search__inner--down">
                      <!-- search related content-->
                      <div class="search__related"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="progressbar" role="progressbar" aria-label="Page progress bar">
              <div class="width"></div>
            </div>
          </nav>
        </header>
      </div>
      <div class="experiencefragment aem-GridColumn aem-GridColumn--default--12">
        <div class="xf-content-height">
          <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
            <div class="freeflowhtml aem-GridColumn aem-GridColumn--default--12">
                 <app-burger-menu></app-burger-menu>
            </div>
          </div>
        </div>
      </div>
      <div class="responsivegrid aem-GridColumn aem-GridColumn--default--12">
        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
          <div class="freeflowhtml aem-GridColumn aem-GridColumn--default--12">
            <section id="hero_slider" class="scroll-section bg-sapphire-dark">
              <div id="main-cnt"> </div>
              <article class="container-fluid slider">
                <div class="row">
                  <div id="home_slider_carousel" class="owl-carousel owl-theme">
                    <div class="item">
                      <div role="img"
                        aria-label="Tesose and The Financial Times Unveil the ‘FT Money Machine’ Through Immersive Extended Reality Experience"
                        class="repeated-css bg-sapphire-dark">
                        <picture>
                          <source media="(min-width:600px)"
                            srcset="public/images/home/home1.png">
                          <img class="slide-image" style="width:auto;"
                            src="public/images/home/home1.png"
                            alt="Tesose and The Financial Times Unveil the ‘FT Money Machine’ Through Immersive Extended Reality Experience">
                        </picture>
                      </div>
                      <div class="slider-overlay-black"></div>
                      <div class="caption">
                        <div class="container">
                          <div class="row">
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                              <p class="h2-heading white-color mb-xs-10" id="leadstory0">Tesose and The Financial Times
                                Unveil the ‘FT Money Machine’ Through Immersive Extended Reality Experience</p>
                              <a href="/newsroom/press-releases/2024/ft-money-machine.html"
                                class="btn btn-shutter-more text-uppercase" title="Know more"
                                aria-describedby="leadstory0"
                                aria-label="undefined about Tesose and The Financial Times Unveil the ‘FT Money Machine’ Through Immersive Extended Reality Experience">Know
                                more</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="item">
                      <div role="img" aria-label="Launched Tesose Aster: The AI-amplified Marketing Suite"
                        class="repeated-css bg-sapphire-dark">
                        <picture>
                          <source media="(min-width:600px)"
                            srcset="public/images/home/home3.png">
                          <img class="slide-image" style="width:auto;"
                            src="public/images/home/home3.png"
                            alt="Launched Tesose Aster: The AI-amplified Marketing Suite">
                        </picture>
                      </div>
                      <div class="slider-overlay-black"></div>
                      <div class="caption">
                        <div class="container">
                          <div class="row">
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                              <p class="h2-heading white-color mb-xs-10" id="leadstory0">Launched Tesose Aster: The
                                AI-amplified
                                Marketing Suite</p>
                              <a href="/newsroom/press-releases/2024/ft-money-machine.html"
                                class="btn btn-shutter-more text-uppercase" title="Know more"
                                aria-describedby="leadstory0"
                                aria-label="undefined about Tesose and The Financial Times Unveil the ‘FT Money Machine’ Through Immersive Extended Reality Experience">Know
                                more</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="item">
                      <div role="img" aria-label="Champions Evolve." class="repeated-css bg-sapphire-dark">
                        <picture>
                          <source media="(min-width:600px)"
                            srcset="public/images/home/home2.png">
                          <img class="slide-image" style="width:auto;"
                            src="public/images/home/home2.png"
                            alt="Champions Evolve.">
                        </picture>
                      </div>
                      <div class="slider-overlay-black"></div>
                      <div class="caption">
                        <div class="container">
                          <div class="row">
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                              <p class="h2-heading white-color mb-xs-10" id="leadstory0">Champions Evolve.</p>
                              <a href="/newsroom/press-releases/2024/ft-money-machine.html"
                                class="btn btn-shutter-more text-uppercase" title="Know more"
                                aria-describedby="leadstory0" aria-label=" Champions Evolve.">Know more</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="item">
                      <div role="img" aria-label="Cloud Survey Report 2024" class="repeated-css bg-sapphire-dark">
                        <picture>
                          <source media="(min-width:600px)"
                            srcset="public/images/home/home4.png">
                          <img class="slide-image" style="width:auto;"
                            src="public/images/home/home4.png"
                            alt="Cloud Survey Report 2024">
                        </picture>
                      </div>
                      <div class="slider-overlay-black"></div>
                      <div class="caption">
                        <div class="container">
                          <div class="row">
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                              <p class="h2-heading white-color mb-xs-10" id="leadstory0">Cloud Survey Report 2024</p>
                              <a href="/newsroom/press-releases/2024/ft-money-machine.html"
                                class="btn btn-shutter-more text-uppercase" title="Know more"
                                aria-describedby="leadstory0" aria-label=" Cloud Survey Report 2024">Know more</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Add more items as needed -->
                  </div>
                </div>

              </article>
            </section>
          </div>
          <div class="freeflowhtml aem-GridColumn aem-GridColumn--default--12">
              <app-capabilities></app-capabilities>
          </div>
          <div class="freeflowhtml aem-GridColumn aem-GridColumn--default--12">
           <app-operating></app-operating>
          </div>
          <div class="freeflowhtml aem-GridColumn aem-GridColumn--default--12">
           <app-transformations></app-transformations>
          </div>
          <div class="freeflowhtml aem-GridColumn aem-GridColumn--default--12">
            <app-do-more></app-do-more>
          </div>
          <div class="freeflowhtml aem-GridColumn aem-GridColumn--default--12">
            <app-about-us></app-about-us>
          </div>
          <div class="freeflowhtml aem-GridColumn aem-GridColumn--default--12">
            <app-investors></app-investors>
          </div>
          <div class="freeflowhtml aem-GridColumn aem-GridColumn--default--12">
            <app-careers></app-careers>
          </div>
          <app-contact-us></app-contact-us>

          <div class="freeflowhtml aem-GridColumn aem-GridColumn--default--12">
            <div class="left-navigation relative">
              <nav class="sticky-left-nav top-menu">
                <ul class="stick-left-nav-ul">
                  <li class="nav-active mb50">
                    <a href="#hero_slider">
                      <span>Navigate your next</span></a>
                  </li>
                  <li class="">
                    <a href="#core_capabilities">
                      <span>Core Capabilities</span></a>
                  </li>
                  <li class="">
                    <a href="#operating_models">
                      <span>Operating Models</span></a>
                  </li>
                  <li class="">
                    <a href="#talent_transformations">
                      <span>Talent Transformations</span></a>
                  </li>
                  <li class="">
                    <a href="#do_more">
                      <span>The next</span></a>
                  </li>
                  <li class="no-scrollify">
                    <a href="#about_us_index">
                      <span>About us</span></a>
                  </li>
                  <li class="no-scrollify">
                    <a href="#investors">
                      <span>Investors</span></a>
                  </li>
                  <li class="no-scrollify">
                    <a href="#careers">
                      <span>Careers</span></a>
                  </li>
                  <li class="no-scrollify">
                    <a href="#contact_us">
                      <span>Contact us</span></a>
                  </li>
                </ul>
              </nav>
            </div>
            <!-- type.js -->
            <div style="display:none" id="hidZone"></div>

          </div>


        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var lazyloadImages = document.querySelectorAll("img.lazy");
      var lazyloadThrottleTimeout;
      let windowWidth = $(window).width();
      function lazyload() {
        var lazyloadImg = document.querySelectorAll("img.lazy");
        windowWidth = $(window).width();
        if (lazyloadImg.length == 0) {
          document.removeEventListener("scroll", lazyload);
        }

        if (lazyloadThrottleTimeout) {
          clearTimeout(lazyloadThrottleTimeout);
        }

        lazyloadThrottleTimeout = setTimeout(function () {
          var scrollTop = window.pageYOffset;
          lazyloadImages.forEach(function (img) {
            if (img.offsetTop < (window.innerHeight + scrollTop)) {
              img.onerror = function () {
                img.src = img.dataset.src;
              }
              img.src = responsiveAsset.setImageSrc(img, windowWidth);
              img.classList.remove('lazy');
            }
          });
        }, 20);
      }

      document.addEventListener("scroll", lazyload);
      window.addEventListener("resize", lazyload);
      window.addEventListener("orientationChange", lazyload);
    });

    let responsiveAsset = {
      setImageSrc: function (item, windowWidth) {
        let src = $(item).data("src");
        let originalSrc = $(item).data("src");
        if (windowWidth < 992 && windowWidth > 600) {
          src = getDeviceRendition(src, "tab");
        }
        else if (windowWidth < 600) {
          src = getDeviceRendition(src, "mob");
        }
        else {
          src = item;
        }
        return src;
      }
    };

    const getDeviceRendition = function (item, ele) {
      let renditionRelativePath;
      if (ele === "tab") {
        renditionRelativePath = changeRendition(item, ele);
      }
      if (ele == "mob") {
        renditionRelativePath = changeRendition(item, ele);
      }
      return renditionRelativePath;
    };

    const changeRendition = function (imgPath, e) {
      let finalPath;
      let tempPath = imgPath.substr(0, imgPath.indexOf('.'));
      let fileExt = imgPath.substr(imgPath.indexOf('.'));
      if (e === "tab") {
        finalPath = tempPath + "-tab" + fileExt;
      }
      if (e === "mob") {
        finalPath = tempPath + "-mob" + fileExt;
      }
      return finalPath;

    }
    $(document).ready(function () {

      if ($('body #onetrust-consent-sdk').length == 1) {
        $("label[for='vendor-search-handler']").html("search");
      } else {
        for (i = 0; i < 2; i++) {
          setTimeout(function () {
            if ($("label[for='vendor-search-handler']").html() == '') {
              $("label[for='vendor-search-handler']").html("search");
            }
          }, 3500);

        }
      }

    });
  </script>
</div>

<div class="modal fade" id="divAjaxLoader" role="dialog" aria-hidden="true" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-body ajax-loader-modal">
      <img id="ajax-loader" src="public/images/background-img/loading.gif" alt="Loading">
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js" integrity="sha512-ZKNVEa7gi0Dz4Rq9jXcySgcPiK+5f01CqW+ZoKLLKr9VMXuCsw3RjWiv8ZpIOa0hxO79np7Ec8DDWALM0bDOaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js" integrity="sha512-CEiA+78TpP9KAIPzqBvxUv8hy41jyI3f2uHi7DGp/Y/Ka973qgSdybNegWFciqh6GrN2UePx2KkflnQUbUhNIA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
