<div class="contactus aem-GridColumn aem-GridColumn--default--12">
    <section id="contact_us" class="scroll-section">
      <article class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-sm-40">
            <div class="border">
    
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 border-rgt border-rgt-xs border-btm p0">
                <div class="expand" data-id="#americas">
                  <a class="cntry-nme" title="Americas" href="/contact/country.html?region=Americas&amp;subsidiary=Infosys">Americas</a> </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 border-rgt1 border-btm p0">
                <div class="expand" data-id="#asia-pacific"> 
                  <a class="cntry-nme" title="Asia Pacific" href="/contact/country.html?region=Asia_X32_Pacific&amp;subsidiary=Infosys">Asia Pacific</a> </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 border-rgt border-rgt-xs border-btm-xs1 p0">
                <div class="expand" data-id="#europe"> 
                  <a class="cntry-nme" title="Europe" href="/contact/country.html?region=Europe&amp;subsidiary=Infosys">Europe</a> </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 border-rgt1 border-rgt-xs1 p0">
                <div class="expand" data-id="#middle-east"> 
                  <a class="cntry-nme" title="Middle East and Africa" href="/contact/country.html?region=Middle_X32_East_X32_and_X32_Africa&amp;subsidiary=Infosys">Middle East and Africa</a> </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 col-md-offset-1">
            <h2 class="cnt_us_txt white-color mb30">Let's help you navigate your next</h2>
            <a class="btn btn-no-effect reques-btn text-uppercase mt20" href="/contact.html" title="contact us" aria-label="contact us about Let's help you navigate your next">contact us</a> </div>
        </div>
      </article>
    </section>
  </div>