<section id="careers" class="scroll-section pt75">
  <article class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center wow fadeInUp animated" data-wow-delay="0.3s"
        style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
        <img src="public/images/home/vertical-line.png" alt=""
          class="">
        <h2 class="h2-heading">Careers</h2>
        <p class="col-lg-8 col-md-8 col-md-offset-2 para-txt light-gray mb50">Every Infoscion is the navigator
          of our clients’ digital transformation</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 plr-xs-0 wow fadeInUp animated" data-wow-delay="0.6s"
        style="visibility: visible;-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s;">
        <div class="careers-img-container relative">
          <div class="careers-img-wrapper"> <img
              data-src="public/images/home/images/careers-video-img.jpg"
              alt="Life at Infosys" class=""
              src="public/images/home/images/careers-video-img.jpg"> </div>
          <div class="career-vido-caption">Life at Tesose</div>
          <div class="careers-employeespeak">
            <h5 class="employeespeak-head text-uppercase">What our people say</h5>
            <div id="employeespeak_slider" class="owl-carousel owl-theme owl-loaded owl-drag">



              <div class="owl-stage-outer">
                <div class="owl-stage"
                  style="transform: translate3d(-700px, 0px, 0px); transition: all; width: 2450px;">
                  <div class="owl-item cloned" style="width: 350px;">
                    <div class="item" tabindex="0"> <img class="img-employee"
                        src="public/images/home/images/annam-emp.png" alt="Annam">
                      <em class="employeespeak-content">"I joined Infosys because of
                        the excellent
                        hands-on training." <br>
                        - Annam, Tesose Plano</em>
                    </div>
                  </div>
                  <div class="owl-item cloned" style="width: 350px;">
                    <div class="item" tabindex="0"> <img class="img-employee"
                        src="public/images/home/images/becky-emp.png" alt="Becky">
                      <em class="employeespeak-content">"Infosys is on an Amazing journey of
                        transformation" <br>
                        - Becky, Tesose Plano</em>
                    </div>
                  </div>
                  <div class="owl-item active" style="width: 350px;">
                    <div class="item" tabindex="0"> <img class="img-employee"
                        src="public/images/home/images/danielle-emp.png"
                        alt="Danielle"> <em class="employeespeak-content">"I'm most excited about the
                        opportunity to grow
                        at Tesose." <br>
                        - Danielle, Tesose Indiana</em> </div>
                  </div>
                  <div class="owl-item" style="width: 350px;">
                    <div class="item" tabindex="0"> <img class="img-employee"
                        src="public/images/home/images/annam-emp.png" alt="Annam">
                      <em class="employeespeak-content">"I joined Tesose because of
                        the excellent
                        hands-on training." <br>
                        - Annam, Tesose Plano</em>
                    </div>
                  </div>
                  <div class="owl-item" style="width: 350px;">
                    <div class="item" tabindex="0"> <img class="img-employee"
                        src="public/images/home/images/becky-emp.png" alt="Becky">
                      <em class="employeespeak-content">"Infosys is on an Amazing journey of
                        transformation" <br>
                        - Becky, Tesose Plano</em>
                    </div>
                  </div>
                  <div class="owl-item cloned" style="width: 350px;">
                    <div class="item" tabindex="0"> <img class="img-employee"
                        src="public/images/home/images/danielle-emp.png"
                        alt="Danielle"> <em class="employeespeak-content">"I'm most excited about the
                        opportunity to grow
                        at Tesose." <br>
                        - Danielle, Tesose Indiana</em> </div>
                  </div>
                  <div class="owl-item cloned" style="width: 350px;">
                    <div class="item" tabindex="0"> <img class="img-employee"
                        src="public/images/home/images/annam-emp.png" alt="Annam">
                      <em class="employeespeak-content">"I joined Tesose because of
                        the excellent
                        hands-on training." <br>
                        - Annam, Tesose Plano</em>
                    </div>
                  </div>
                </div>
              </div>
              <div class="owl-nav">
                <div class="owl-prev">prev</div>
                <div class="owl-next">next</div>
              </div>
              <div class="owl-dots">
                <div class="owl-dot active"><span></span></div>
                <div class="owl-dot"><span></span></div>
                <div class="owl-dot"><span></span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row career-explore text-center wow fadeInUp animated" data-wow-delay="0.9s"
      style="visibility: visible;-webkit-animation-delay: 0.9s; -moz-animation-delay: 0.9s; animation-delay: 0.9s;">
      <p class="careers-findopportunites">Find opportunities right for you</p>
      <a class="btn btn-no-effect reques-btn text-uppercase" href="/careers.html" aria-label="Know more about Careers"
        title="Explore Careers">Explore Careers</a>
    </div>
  </article>
</section>