<section id="about_us_index" class="scroll-section pt75">
  <article class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center wow fadeInUp animated"
        style="visibility: visible;"> <img
          src="public/images/home/vertical-line.png" class=""
          alt="">
        <h2 class="h2-heading">About us</h2>
        <p class="col-lg-8 col-md-8 col-md-offset-2 para-txt light-gray mb50">A global leader in next-generation digital
          services and consulting</p>
      </div>
      <div class="row1 initiate-counter wow fadeInUp animated" style="visibility: visible;">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb50">
          <div class="aboutus-grid text-center">
            <p class="aboutus-grid-title"> <span>56</span></p>
            <p class="aboutus-grid-desc">countries where we have trusting clients</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb50">
          <div class="aboutus-grid text-center">
            <p class="aboutus-grid-title">US$<span>18.7</span></p>
            <p class="aboutus-grid-desc">billion total revenue (LTM)</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb50">
          <div class="aboutus-grid text-center">
            <p class="aboutus-grid-title"> <span>24</span>+</p>
            <p class="aboutus-grid-desc">million training (hours) conducted for employees, globally</p>
          </div>
        </div>
      </div>
      <div class="row1 m0 row-eq-ht col-lg-12 col-md-12 col-sm-12 col-xs-12 wow fadeInUp animated"
        style="visibility: visible;">
        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 mb-xs-20 p0">
          <div class="col-eq-ht bg-yellow">
            <div class="investors-news">
              <h4 class="investors-news-title">In the news</h4>
              <div class="investors-news-row relative"> <a
                  href="/newsroom/press-releases/2024/collaboration-enterprise-scale-hyper-automation.html"
                  title="Tesose announces Strategic Collaboration with Sally Beauty to Bring Enterprise-scale IT Efficiencies from Hyper-automation">
                  <h3 class="investors-news-desc">Tesose announces Strategic Collaboration with Sally Beauty to Bring
                    Enterprise-scale IT Efficiencies from Hyper-automation <img class="img-right-arrow"
                      src="public/images/newdesign/right-arrow.svg"
                      alt="arrow"> </h3>
                </a> </div>

              <div class="investors-news-row relative"> <a
                  href="/newsroom/press-releases/2024/strategic-collaboration-opening-technology-hub.html"
                  title="Tesose and Polestar Enter Strategic Collaboration by opening Technology Hub in Bengaluru, India">
                  <h3 class="investors-news-desc">Tesose and Polestar Enter Strategic Collaboration by opening
                    Technology Hub in Bengaluru, India <img class="img-right-arrow"
                      src="public/images/newdesign/right-arrow.svg"
                      alt="arrow"> </h3>
                </a> </div>
              <div class="investors-news-row relative"> <a
                  href="/newsroom/press-releases/2024/record-setting-volunteering-initiative.html"
                  title="Tesose Foundation Enables Record-Setting Volunteering Initiative: Over 200,000 Seedballs Made for Reforestation Projects across India">
                  <h3 class="investors-news-desc">Tesose Foundation Enables Record-Setting Volunteering Initiative: Over
                    200,000 Seedballs Made for Reforestation Projects across India <img class="img-right-arrow"
                      src="public/images/newdesign/right-arrow.svg"
                      alt="arrow"> </h3>
                </a> </div>

              <div class="pt10 pt-sm-0"> <a href="/newsroom/press-releases/2023/enterprises-generative-ai.html"
                  class="btn-no-effect dark"> <span> <strong>Launched today: Tesose Topaz - An AI-first offering to
                      accelerate business value for global enterprises using generative AI</strong></span></a> </div>
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
          <div class="col-eq-ht abot_box_ctrl">
            <div class="row row-eq-ht">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb-xs-20 p0 ctrl-width-mob">
                <div class="col-eq-ht"> <a
                    href="/investors/reports-filings/quarterly-results/2024-2025/q1/press-meet.html"
                    aria-label="Read about Tesose Q1 FY25 Results - Archived Webcast"
                    title="Tesose Q1 FY25 Results - Archived Webcast">
                    <div class="bg-index-artificial">
                      <div class="news-grid-imgs"> <img
                          data-src="public/images/newdesign/quarterly-results-q1fy25-thumb.avif"
                          class="img-responsive" alt="Infosys Q1 FY25 Results - Archived Webcast"
                          src="public/images/newdesign/quarterly-results-q1fy25-thumb.avif">
                      </div>
                      <div class="latest-event-box">
                        <p class="robotics-text">Tesose Q1 FY25 Results - Archived Webcast</p>
                        <p class="white-color">July 18, 2024</p>
                      </div>
                    </div>
                  </a> </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb-xs-20 p0 ctrl-width-mob">
                <div class="col-eq-ht"> <a href="/services/digital-workplace-services/nextatwork.html"
                    aria-label="Read about The Future of Work 2023 Report " title="The Future of Work 2023 Report">
                    <div class="bg-index-research">
                      <div class="news-grid-imgs"> <img
                          data-src="public/images/newdesign/future-work2023-thumb.avif"
                          class="img-responsive" alt="The Future of Work 2023 Report "
                          src="public/images/newdesign/future-work2023-thumb.avif">
                      </div>
                      <div class="latest-event-box">
                        <p class="robotics-text">The Future of Work 2023 Report </p>
                      </div>
                    </div>
                  </a> </div>
              </div>
              <div class="clearfix visible-lg visible-md visible-sm hidden-xs"></div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb-xs-20 p0 ctrl-width-mob">
                <div class="col-eq-ht bg-twittercyan relative1"> <a href="/about/esg/insights/esg-radar-report.html"
                    aria-label="Read about ESG is a business necessity, and offers short-term financial benefits now"
                    title="ESG is a business necessity, and offers short-term financial benefits now">
                    <div class="bg-boosting">
                      <div class="news-grid-imgs"> <img
                          data-src="public/images/newdesign/esg-thumb.avif"
                          class="img-responsive"
                          alt="ESG is a business necessity, and offers short-term financial benefits now"
                          src="public/images/newdesign/esg-thumb.avif">
                      </div>
                      <div class="txt-section">
                        <div class="txt-twitter">
                          <div class="latest-event-box-last">
                            <p class="robotics-text">ESG is a business necessity, and offers short-term financial
                              benefits now</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a> </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb-xs-20 p0 ctrl-width-mob">
                <div class="col-eq-ht"> <a href="/services/cloud-cobalt/insights/enterprise-cloud-apps.html"
                    aria-label="Read about hy are enterprises moving their applications to the cloud? – An Tesose research"
                    title="Why are enterprises moving their applications to the cloud? – An Tesose research">
                    <div class="bg-index-events">
                      <div class="news-grid-imgs"> <img
                          data-src="public/images/newdesign/cloud-applications-research.avif"
                          class="img-responsive"
                          alt="Why are enterprises moving their applications to the cloud? – An Tesose research"
                          src="public/images/newdesign/cloud-applications-research.avif">
                      </div>
                      <div class="latest-event-box-last">
                        <p class="robotics-text">Why are enterprises moving their applications to the cloud? – An
                          Tesose research</p>
                      </div>
                    </div>
                  </a> </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>