 <!-- Burger Menu START -->
 <div class="burger-search-wrapper navbar-fixed-top">
    <div class="container">
      <nav class="hamburger-menu" role="nav" aria-label="open menu">
        <div class="menu-bg reverseMenu"></div>
        <div class="circle"></div>
        <a href="javascript:void(0);" class="burger" role="button" aria-pressed="false"
          aria-label="open menu" aria-haspopup="false" aria-expanded="false">
          <div class="icon-bar1 icon-bar11"></div>
          <div class="icon-bar2 icon-bar21"></div>
          <div class="icon-bar3 icon-bar31"></div>
        </a>
        <div class="menu">
          <div class="fix-menu hidden-sm hidden-xs col-md-9 col-sm-12 col-xs-12 p0">

          </div>
          <!-- Side Menu Title -->
          <div class="col-md-3 col-sm-12 col-xs-12 menuItems">
            <a href="/" title="" style="    padding: 2rem 0; color: black;font-weight: 900;font-size: 28px;"
              aria-label="">
              
              TESose
            </a>

            <ul class="list-unstyled">
              <li> <a href="javascript:void(0);" id="nyn-sub-menu" title="Navigate your next"
                  aria-haspopup="false" aria-expanded="false" class="nyn" target="_self">Navigate your next
                  <span class="un-line hidden-sm hidden-xs hidden-tab"></span> </a> </li>

              <li> <a href="javascript:void(0);" id="industries-sub-menu" title="Industries"
                  aria-haspopup="false" aria-expanded="false" class="industries" target="_self">Industries
                  <span class="un-line hidden-sm hidden-xs hidden-tab"></span> </a> </li>

              <li> <a href="javascript:void(0);" id="services-sub-menu" title="Services"
                  aria-haspopup="false" aria-expanded="false" class="services" target="_self">Services <span
                    class="un-line hidden-sm hidden-xs hidden-tab"></span> </a> </li>

              <li> <a href="javascript:void(0);" id="platforms-sub-menu" title="Platforms"
                  aria-haspopup="false" aria-expanded="false" class="platforms" target="_self">Platforms
                  <span class="un-line hidden-sm hidden-xs hidden-tab"></span> </a> </li>


              <li> <a href="javascript:void(0);" id="iki-sub-menu" title="Tesose Knowledge Institute"
                  aria-haspopup="false" aria-expanded="false" class="iki-text" target="_self">Tesose
                  Knowledge Institute
                  <span class="un-line hidden-sm hidden-xs hidden-tab"></span> </a> </li>

              <li> <a href="javascript:void(0);" id="about-sub-menu" title="About Us" aria-haspopup="false"
                  aria-expanded="false" class="about-txt" target="_self">About Us <span
                    class="un-line hidden-sm hidden-xs hidden-tab"></span> </a> </li>

              <li class="smalltext"> <a href="javascript:void(0);" title="Investors"
                  class="investors hover-menu-hide" target="_self">Investors <span
                    class="un-line hidden-sm hidden-xs hidden-tab"></span> </a> </li>

              <li class="smalltext"> <a href="javascript:void(0);" title="Careers" class="hover-menu-hide"
                  target="_self">Careers
                  <span class="un-line hidden-sm hidden-xs hidden-tab"></span> </a> </li>

              <li class="smalltext"> <a href="javascript:void(0);" title="Newsroom" class="hover-menu-hide"
                  target="_self">Newsroom <span class="un-line hidden-sm hidden-xs hidden-tab"></span> </a>
              </li>

              <li class="smalltext"> <a href="javascript:void(0);" title="Contact Us" class="hover-menu-hide"
                  target="_self">Contact Us <span class="un-line hidden-sm hidden-xs hidden-tab"></span>
                </a> </li>


              <li class="social-icons"> <a href="javascript:void(0);"
                  title="Follow us on LinkedIn" target="_blank" aria-label="Follow us on LinkedIn"
                  rel="noopener noreferrer">
                  <svg width="16" height="16">
                    <image
                      xlink:href="public/images/background-img/linkedin.svg"
                      src="public/images/background-img/linkedin.svg"
                      width="16" height="16"></image>
                  </svg>
                </a> </li>
              <li class="social-icons"> <a href="javascript:void(0);"
                  title="Follow us on Twitter" target="_blank" aria-label="Follow us on Twitter"
                  rel="noopener noreferrer">
                  <svg width="16" height="16">
                    <image
                      xlink:href="public/image/background-image/twitter.svg"
                      src="public/image/background-image/twitter.svg"
                      width="16" height="16"></image>
                  </svg>
                </a> </li>
              <li class="social-icons"> <a href="javascript:void(0);"
                  title="Follow us on Facebook" target="_blank" aria-label="Follow us on Facebook"
                  rel="noopener noreferrer">
                  <svg width="16" height="16">
                    <image
                      xlink:href="https://www.infosys.com/content/dam/infosys-web/burger-menu/en/images/facebook.svg"
                      src="https://www.infosys.com/content/dam/infosys-web/burger-menu/en/images/facebook.svg"
                      width="16" height="16"></image>
                  </svg>
                </a> </li>
              <li class="social-icons"> <a href="javascript:void(0);"
                  title="Follow us on YouTube" target="_blank" aria-label="Follow us on YouTube"
                  rel="noopener noreferrer">
                  <svg width="16" height="16">
                    <image
                      xlink:href="https://www.infosys.com/content/dam/infosys-web/burger-menu/en/images/youtube.svg"
                      src="https://www.infosys.com/content/dam/infosys-web/burger-menu/en/images/youtube.svg"
                      width="16" height="16"></image>
                  </svg>
                </a> </li>
            </ul>
          </div>
          <!-- NYN Menu -->
          <div class="nyn-menu wow fadeInLeftBig animated" data-wow-duration="0.3s"
            style="visibility: visible;-webkit-animation-duration: 0.3s; -moz-animation-duration: 0.3s; animation-duration: 0.3s;">
            <div class="cross visible1024-cross"> <a title="close" href="javascript:void(0);" alt="Cross"
                aria-label="Close menu" aria-haspopup="false" aria-expanded="false"> <img
                  src="https://www.infosys.com/content/dam/infosys-web/burger-menu/en/images/multiply.svg"
                  alt="Cross"> </a> </div>
            <div class="submenu-portion">
              <div class="col-md-12 col-sm-12 col-xs-12 bg-jade-medium automate1 h-50vh">
                <div class="top_menu_img_wrapper"> <img
                    src="https://www.infosys.com/content/dam/infosys-web/en/global-resource/18/banner/being-resilient-lead-menu.jpg"
                    class="being-resilient hidden-sm hidden-xs"
                    alt="Being Resilient. That's Live Enterprise."> <img
                    src="https://www.infosys.com/content/dam/infosys-web/en/global-resource/18/banner/being-resilient-lead-mob.jpg"
                    class="being-resilient visible-sm hidden-xs"
                    alt="Being Resilient. That's Live Enterprise."> </div>
                <div class="row">
                  <div class="top_menu_cont_wrapper">
                    <div class="col-md-6 col-sm-12 col-xs-12"> <a
                        href="/navigate-your-next/being-resilient.html"
                        title="Being Resilient. That's Live Enterprise.">
                        <p class="head-txt mt100">Being Resilient. That's Live Enterprise.</p>
                      </a> </div>
                  </div>
                </div>
              </div>
              <a class="core_capabilities" href="/navigate-your-next/digital-capabilities.html"
                title="Digital Core Capabilities">
                <div class="col-md-3 col-sm-4 col-xs-12 automate bg-img-pos h-50vh">
                  <p class="head-txt">Digital Core Capabilities</p>
                </div>
              </a> <a class="operating_model" href="/navigate-your-next/digital-operating-models.html"
                title="Digital Operating Model">
                <div class="col-md-3 col-sm-4 col-xs-12 innovate bg-img-pos h-50vh">
                  <p class="head-txt">Digital Operating Model</p>
                </div>
              </a> <a class="talent_transformations" href="/navigate-your-next/talent-transformations.html"
                title="Empowering Talent Transformations">
                <div class="col-md-3 col-sm-4 col-xs-12 learn bg-img-pos h-50vh">
                  <p class="head-txt">Empowering Talent Transformations</p>
                </div>
              </a> <a class="nyn_link" href="/navigate-your-next/tales-of-transformation.html"
                title="Tales of Transformation">
                <div class="col-md-3 col-sm-4 col-xs-12 tales-transformation bg-img-pos h-50vh">
                  <p class="head-txt black-color1">Tales of Transformation</p>
                </div>
              </a>
            </div>
          </div>
          <!-- Industries Menu -->
          <div class="industries-menu wow fadeInLeftBig animated" data-wow-duration="0.3s"
            style="visibility: visible;-webkit-animation-duration: 0.3s; -moz-animation-duration: 0.3s; animation-duration: 0.3s;">
            <div class="cross visible1024-cross"> <a title="close" href="javascript:void(0);" alt="Cross"
                aria-label="Close menu" aria-haspopup="false" aria-expanded="false"> <img
                  src="https://www.infosys.com/content/dam/infosys-web/burger-menu/en/images/multiply.svg"
                  alt="Cross"> </a> </div>
            <div class="submenu-portion">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <p class="h2-heading mb10">Industries</p>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 align-list">
                <ul class="list-unstyled li-separator">
                  <li> <a aria-label="Go to Aerospace &amp; Defense Page"
                      href="/industries/aerospace-defense.html" title="Aerospace &amp; Defense">Aerospace
                      &amp; Defense</a> </li>
                  <li> <a aria-label="Go to Agriculture Page" title="Agriculture"
                      href="/industries/agriculture.html">Agriculture</a> </li>
                  <li> <a aria-label="Go to Automotive Page" title="Automotive"
                      href="/industries/automotive.html">Automotive</a> </li>
                  <li> <a aria-label="Go to Chemical Manufacturing Page" title="Chemical Manufacturing"
                      href="/industries/chemical-manufacturing.html">Chemical
                      Manufacturing</a> </li>
                  <li> <a aria-label="Go to Communication Services Page" title="Communication Services"
                      href="/industries/communication-services.html">Communication
                      Services</a> </li>
                  <li> <a aria-label="Go to Consumer Packaged Goods Page" title="Consumer Packaged Goods"
                      href="/industries/consumer-packaged-goods.html">Consumer
                      Packaged Goods</a> </li>
                  <li> <a aria-label="Go to Education Page" title="Education"
                      href="/industries/education.html">Education</a> </li>
                  <li> <a aria-label="Go to Engineering Procurement &amp; Construction"
                      title="Engineering Procurement &amp; Construction"
                      href="/industries/engineering-procurement-construction.html">Engineering
                      Procurement &amp; Construction</a> </li>
                  <li> <a aria-label="Go to Financial Services Page" title="Financial Services"
                      href="/industries/financial-services.html">Financial
                      Services</a> </li>
                </ul>
              </div>
              <div class="col-md-4 col-sm-6 col-xs-12 align-list">
                <ul class="list-unstyled li-separator">
                  <li> <a aria-label="Go to Healthcare Page" title="Healthcare"
                      href="/industries/healthcare.html">Healthcare</a> </li>
                  <li> <a aria-label="Go to High Technology Page" title="High Technology"
                      href="/industries/high-technology.html">High
                      Technology</a> </li>
                  <li> <a aria-label="Go to Industrial Manufacturing Page" title="Industrial Manufacturing"
                      href="/industries/industrial-manufacturing.html">Industrial
                      Manufacturing</a> </li>
                  <li> <a aria-label="Go to Information Services &amp; Publishing Page"
                      title="Information Services &amp; Publishing"
                      href="/industries/publishing.html">Information Services
                      &amp; Publishing</a> </li>
                  <li> <a aria-label="Go to Insurance Page" title="Insurance"
                      href="/industries/insurance.html">Insurance</a> </li>
                  <li> <a aria-label="Go to Life Sciences Page" title="Life Sciences"
                      href="/industries/life-sciences.html">Life Sciences</a> </li>
                  <li> <a aria-label="Go to Logistics &amp; Distribution Page"
                      title="Logistics &amp; Distribution"
                      href="/industries/logistics-distribution.html">Logistics
                      &amp; Distribution</a> </li>
                  <li> <a aria-label="Go to Media and Entertainment Page" title="Media and Entertainment"
                      href="/industries/media-entertainment.html">Media and
                      Entertainment</a> </li>
                </ul>
              </div>
              <div class="col-md-4 col-sm-12 col-xs-12 align-list">
                <ul class="list-unstyled li-separator">
                  <li> <a aria-label="Go to Mining Page" title="Mining"
                      href="/industries/mining.html">Mining</a> </li>
                  <li> <a aria-label="Go to Oil and Gas Page" title="Oil and Gas"
                      href="/industries/oil-and-gas.html">Oil and Gas</a> </li>
                  <li> <a aria-label="Go to Private Equity Page" title="Private Equity"
                      href="/industries/private-equity.html">Private Equity</a> </li>
                  <li> <a aria-label="Go to Professional Services Page" title="Professional Services"
                      href="/industries/professional-services.html">Professional
                      Services</a> </li>
                  <li> <a aria-label="Go to Public Sector Page" title="Public Sector"
                      href="/industries/public-sector.html">Public
                      Sector</a> </li>
                  <li> <a aria-label="Go to Retail Page" title="Retail"
                      href="/industries/retail.html">Retail</a> </li>
                  <li> <a aria-label="Go to Travel and Hospitality Page" title="Travel and Hospitality"
                      href="/industries/travel-hospitality.html">Travel and
                      Hospitality</a> </li>
                  <li> <a aria-label="Go to Utilities Page" title="Utilities"
                      href="/industries/utilities.html">Utilities</a> </li>
                  <li> <a aria-label="Go to Waste Management Page" title="Waste Management"
                      href="/industries/waste-management.html">Waste
                      Management</a> </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Services Menu -->
          <div class="services-menu wow fadeInLeftBig animated" data-wow-duration="0.3s"
            style="visibility: visible;-webkit-animation-duration: 0.3s; -moz-animation-duration: 0.3s; animation-duration: 0.3s;">
            <div class="cross visible1024-cross"> <a title="close" href="javascript:void(0);" alt="Cross"
                aria-label="Close menu" aria-haspopup="false" aria-expanded="false"> <img
                  src="https://www.infosys.com/content/dam/infosys-web/burger-menu/en/images/multiply.svg"
                  alt="Cross"> </a> </div>
            <div class="submenu-portion">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <p class="h2-heading mb10">Services</p>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                  <div class="col-md-3 col-sm-3 col-xs-12"> <img
                      src="https://www.infosys.com/content/dam/infosys-web/burger-menu/en/images/experience.svg"
                      alt="Experience" class="">
                    <h3 class="hear-txt-sub">Experience</h3>
                  </div>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="row">
                      <div class="col-md-4 col-sm-4 col-xs-12 align-list">
                        <ul class="list-inline mb0 services-first-focus">
                          <li> <a aria-label="Go to TESose Aster Page" href="/aster.html"
                              title="TESose Aster">TESose Aster</a> </li>
                        </ul>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12 align-list">
                        <ul class="list-inline mb0">
                          <li> <a aria-label="Go to Digital Marketing Page"
                              href="/services/digital-marketing.html" title="Digital Marketing">Digital
                              Marketing</a> </li>
                        </ul>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12 align-list">
                        <ul class="list-inline mb0">
                          <li> <a aria-label="Go to Digital Commerce Page"
                              href="/services/digital-commerce.html" title="Digital Commerce">Digital
                              Commerce</a> </li>
                        </ul>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12 align-list">
                        <ul class="list-inline mb0">
                          <li> <a aria-label="Go to Digital Interactions Page"
                              href="/services/digital-interaction.html" title="Digital Interactions">Digital
                              Interactions</a> </li>
                        </ul>
                      </div>
                      <div class="clearfix visible-sm hidden-xs"></div>
                      <div class="col-md-4 col-sm-4 col-xs-12 align-list">
                        <ul class="list-inline mb-xs-0">
                          <li> <a aria-label="Go to Digital Workplace Services Page"
                              href="/services/digital-workplace-services.html"
                              title="Digital Workplace Services">Digital Workplace
                              Services</a> </li>
                        </ul>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12 align-list">
                        <ul class="list-inline mb-xs-0">
                          <li> <a aria-label="Go to Digital Experience Page"
                              href="/services/digital-experience.html" title="Digital Experience">Digital
                              Experience</a> </li>
                        </ul>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12 align-list">
                        <ul class="list-inline mb-xs-0">
                          <li> <a aria-label="Go to TESose Metaverse Foundry Page"
                              href="/services/metaverse.html" title="TESose Metaverse Foundry">TESose
                              Metaverse Foundry</a> </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="menu-seprator"></div>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                  <div class="col-md-3 col-sm-3 col-xs-12"> <img
                      src="https://www.infosys.com/content/dam/infosys-web/burger-menu/en/images/insight.svg"
                      alt="Insight" class="">
                    <h3 class="hear-txt-sub">Insight</h3>
                  </div>
                  <div class="col-md-9 col-sm-9 col-xs-12 align-list">
                    <div class="row">
                      <div class="col-md-4 col-sm-4 col-xs-12 align-list">
                        <ul class="list-inline mb-xs-0 mb0">
                          <li> <a aria-label="Go to TESose Topaz Page" href="/services/data-ai-topaz.html"
                              title="TESose Topaz">TESose
                              Topaz</a> </li>
                        </ul>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12 align-list">
                        <ul class="list-inline mb0">
                          <li> <a aria-label="Go to Data Analytics and AI Page"
                              href="/services/data-analytics.html" title="Data Analytics and AI">Data
                              Analytics and AI</a> </li>
                        </ul>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12 align-list">
                        <ul class="list-inline mb0">
                          <li> <a aria-label="Go to Applied AI Page" href="/services/applied-ai.html"
                              title="Applied AI">Applied AI</a>
                          </li>
                        </ul>
                      </div>
                      <div class="clearfix visible-sm hidden-xs"></div>
                      <div class="col-md-4 col-sm-4 col-xs-12 align-list">
                        <ul class="list-inline mb-xs-0">
                          <li> <a aria-label="Go to TESose Generative AI Page"
                              href="/services/generative-ai.html" title="TESose Generative AI">TESose
                              Generative AI</a> </li>
                        </ul>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12 align-list">
                        <ul class="list-inline mb-xs-0">
                          <li> <a aria-label="Go to TESose Sustainability Services"
                              href="/services/sustainability-services.html"
                              title="TESose Sustainability Services">TESose Sustainability Services</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="menu-seprator"></div>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                  <div class="col-md-3 col-sm-3 col-xs-12"> <img
                      src="https://www.infosys.com/content/dam/infosys-web/burger-menu/en/images/innovate.svg"
                      alt="Innovate" class="">
                    <h3 class="hear-txt-sub">Innovate</h3>
                  </div>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="row">
                      <div class="col-md-4 col-sm-4 col-xs-12 align-list">
                        <ul class="list-inline mb-xs-0">
                          <li> <a aria-label="Go to Blockchain Page" href="/services/blockchain.html"
                              title="Blockchain">Blockchain</a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12 align-list">
                        <ul class="list-inline mb-xs-0">
                          <li> <a aria-label="Go to Engineering Services Page"
                              href="/services/engineering-services.html"
                              title="Engineering Services">Engineering Services</a> </li>
                        </ul>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12 align-list">
                        <ul class="list-inline">
                          <li> <a aria-label="Go to Internet of Things (IoT) Page"
                              href="/services/engineering-services/service-offerings/internet-of-things.html"
                              title="Internet of Things (IoT)">Internet of Things (IoT)</a> </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="menu-seprator"></div>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                  <div class="col-md-3 col-sm-3 col-xs-12"> <img
                      src="https://www.infosys.com/content/dam/infosys-web/burger-menu/en/images/accelerate.svg"
                      alt="Accelerate" class="">
                    <h3 class="hear-txt-sub">Accelerate</h3>
                  </div>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="row">
                      <div class="col-md-4 col-sm-4 col-xs-12 align-list">
                        <ul class="list-inline mb0">
                          <li> <a aria-label="Go to Agile DevOps Page" href="/services/agile-devops.html"
                              title="Enterprise Agile DevOps">Enterprise Agile DevOps </a> </li>
                        </ul>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12 align-list">
                        <ul class="list-inline mb0">
                          <li> <a aria-label="Go to API Economy &amp; Microservices Page"
                              href="/services/api-economy.html" title="API Economy &amp; Microservices">API
                              Economy &amp;
                              Microservices</a> </li>
                        </ul>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12 align-list">
                        <ul class="list-inline mb0">
                          <li> <a aria-label="Go to Application Modernization Page"
                              href="/services/application-modernization.html"
                              title="Application Modernization">Application Modernization</a> </li>
                        </ul>
                      </div>
                      <div class="clearfix visible-sm hidden-xs"></div>
                      <div class="col-md-4 col-sm-4 col-xs-12 align-list">
                        <ul class="list-inline mb0">
                          <li> <a aria-label="Go to Cloud - TESose Cobalt Page"
                              href="/services/cloud-cobalt.html" title="Cloud - TESose Cobalt">Cloud -
                              TESose Cobalt</a> </li>
                        </ul>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12 align-list">
                        <ul class="list-inline mb0">
                          <li> <a aria-label="Go to Digital Process Automation Page"
                              href="/services/digital-process-automation.html"
                              title="Digital Process Automation">Digital Process
                              Automation</a> </li>
                        </ul>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12 align-list">
                        <ul class="list-inline mb0">
                          <li> <a aria-label="Go to Digital Supply Chain Page"
                              href="/services/digital-supply-chain.html"
                              title="Digital Supply Chain">Digital Supply Chain</a> </li>
                        </ul>
                      </div>
                      <div class="clearfix visible-sm hidden-xs"></div>
                      <div class="col-md-4 col-sm-4 col-xs-12 align-list">
                        <ul class="list-inline mb0">
                          <li> <a aria-label="Go to Microsoft Cloud Business Page"
                              href="/services/microsoft-dynamics.html"
                              title="Microsoft Business Application Services">Microsoft
                              Business Application Services</a> </li>
                        </ul>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12 align-list">
                        <ul class="list-inline mb0">
                          <li> <a aria-label="Go to Microsoft Cloud Business Page"
                              href="/services/microsoft-cloud-business.html"
                              title="Microsoft Cloud Business">Microsoft Cloud Business</a> </li>
                        </ul>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12 align-list">
                        <ul class="list-inline mb0">
                          <li> <a aria-label="Go to Oracle Page" href="/services/oracle.html"
                              title="Oracle">Oracle</a> </li>
                        </ul>
                      </div>
                      <div class="clearfix visible-sm hidden-xs"></div>
                      <div class="col-md-4 col-sm-4 col-xs-12 align-list">
                        <ul class="list-inline mb0">
                          <li> <a aria-label="Go to SAP Page" href="/services/sap.html" title="SAP">SAP</a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12 align-list">
                        <ul class="list-inline mb0">
                          <li> <a aria-label="Go to Salesforce Page" href="/services/salesforce.html"
                              title="Salesforce">Salesforce</a>
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12 align-list">
                        <ul class="list-inline mb0">
                          <li> <a aria-label="Go to Service Experience Transformation Page"
                              href="/services/experience-transformation.html"
                              title="Service Experience Transformation">Service Experience
                              Transformation</a> </li>
                        </ul>
                      </div>
                      <div class="clearfix visible-sm hidden-xs"></div>
                      <div class="col-md-4 col-sm-4 col-xs-12 align-list">
                        <ul class="list-inline mb0">
                          <li> <a aria-label="Go to Energy Transition Page"
                              href="/services/energy-transition.html" title="Energy Transition">Energy
                              Transition</a> </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="menu-seprator"></div>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                  <div class="col-md-3 col-sm-3 col-xs-12"> <img
                      src="https://www.infosys.com/content/dam/infosys-web/burger-menu/en/images/assure.svg"
                      alt="Assure" class="">
                    <h3 class="hear-txt-sub">Assure</h3>
                  </div>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="row">
                      <div class="col-md-4 col-sm-4 col-xs-12 align-list">
                        <ul class="list-inline mb-xs-0">
                          <li> <a aria-label="Go to Cyber Security Page"
                              href="/services/cyber-security.html" title="Cyber Security">Cyber
                              Security</a> </li>
                        </ul>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12 align-list">
                        <ul class="list-inline">
                          <li> <a aria-label="Go to Quality Engineering Page"
                              href="/services/quality-engineering.html" title="Quality Engineering">Quality
                              Engineering</a> </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="menu-seprator"></div>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12 mt30">
                <div class="row">
                  <div class="col-md-3 col-sm-12 col-xs-12"> <a
                      aria-label="Go to Application Development and Maintenance Page"
                      href="/services/application-development-maintenance.html"
                      title="Application Development and Maintenance"> <img
                        src="https://www.infosys.com/content/dam/infosys-web/en/global-resource/background-image/application.svg"
                        alt="" class="">
                      <h3 class="hear-txt-sub">Application Development and Maintenance</h3>
                    </a> </div>
                  <div class="col-md-3 col-sm-12 col-xs-12"> <a
                      aria-label="Go to Business Process Management Page" target="_blank"
                      href="javascript:void(0);" title="Business Process Management"
                      rel="noopener noreferrer"> <img
                        src="https://www.infosys.com/content/dam/infosys-web/en/global-resource/background-image/business-management.svg"
                        alt="" class="">
                      <h3 class="hear-txt-sub">Business Process Management</h3>
                    </a> </div>
                  <div class="col-md-3 col-sm-12 col-xs-12"> <a aria-label="Go to Consulting Page"
                      href="/services/consulting.html" title="Consulting Services"> <img
                        src="https://www.infosys.com/content/dam/infosys-web/en/global-resource/background-image/consulting.svg"
                        alt="" class="">
                      <h3 class="hear-txt-sub">Consulting Services</h3>
                    </a> </div>
                  <div class="col-md-3 col-sm-12 col-xs-12"> <a class="services-last-focus"
                      aria-label="Go to Incubating Emerging Offerings Page"
                      href="/services/incubating-emerging-technologies.html"
                      title="Incubating Emerging Offerings"> <img
                        src="https://www.infosys.com/content/dam/infosys-web/en/global-resource/background-image/incubating-emerging.svg"
                        alt="" class="">
                      <h3 class="hear-txt-sub">Incubating Emerging Offerings</h3>
                    </a> </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Platform Menu -->
          <div class="platforms-menu wow fadeInLeftBig animated" data-wow-duration="0.3s"
            style="visibility: visible;-webkit-animation-duration: 0.3s; -moz-animation-duration: 0.3s; animation-duration: 0.3s;">
            <div class="cross visible1024-cross"> <a title="close" href="javascript:void(0);" alt="Cross"
                aria-label="Close menu" aria-haspopup="false" aria-expanded="false"> <img
                  src="https://www.infosys.com/content/dam/infosys-web/burger-menu/en/images/multiply.svg"
                  alt="Cross"> </a> </div>
            <div class="submenu-portion">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <p class="h2-heading mb10">Platforms</p>
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12 align-list">
                <ul class="list-unstyled li-separator">
                  <li> <a aria-label="Go to EdgeVerve Page" href="javascript:void(0);"
                      title="EdgeVerve">EdgeVerve</a> </li>
                  <li> <a aria-label="Go to TESose Finacle Page" href="javascript:void(0);"
                      title="TESose Finacle">TESose
                      Finacle</a> </li>
                  <li> <a aria-label="Go to TESose Live Enterprise Suite Page"
                      href="javascript:void(0);"
                      title="TESose Live Enterprise Suite">TESose Live Enterprise Suite</a> </li>
                  <li> <a aria-label="Go to TESose Cortex Page" href="javascript:void(0);"
                      title="TESose Cortex">TESose
                      Cortex</a> </li>
                  <li> <a aria-label="Go to TESose Meridian Page"
                      href="javascript:void(0);" title="TESose Meridian">TESose
                      Meridian</a> </li>
                </ul>
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12 align-list">
                <ul class="list-unstyled li-separator">
                  <li> <a aria-label="Go to Panaya Page" href="javascript:void(0);"
                      title="Panaya">Panaya</a> </li>
                  <li> <a aria-label="Go to TESose Equinox Page" href="javascript:void(0);"
                      title="TESose Equinox">TESose Equinox</a> </li>
                  <li> <a aria-label="Go to TESose Wingspan Page"
                      href="javascript:void(0);" title="TESose Wingspan">TESose
                      Wingspan</a> </li>
                  <li> <a aria-label="Go to TESose HELIX Page" href="javascript:void(0);"
                      title="TESose HELIX">TESose
                      HELIX</a> </li>
                  <li> <a aria-label="Go to TESose Polycloud Page"
                      href="javascript:void(0);" title="TESose Polycloud">TESose
                      Polycloud</a> </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- IKI Menu -->
          <div class="iki-menu wow fadeInLeftBig animated" data-wow-duration="0.3s"
            style="visibility: visible;-webkit-animation-duration: 0.3s; -moz-animation-duration: 0.3s; animation-duration: 0.3s;">
            <div class="cross visible1024-cross"> <a title="close" href="javascript:void(0);" alt="Cross"
                aria-label="Close menu" aria-haspopup="false" aria-expanded="false"> <img
                  src="https://www.infosys.com/content/dam/infosys-web/burger-menu/en/images/multiply.svg"
                  alt="Cross"> </a> </div>
            <div class="submenu-portion">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <p class="h2-heading mb10">Tesose Knowledge Institute</p>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 align-list">
                <ul class="list-unstyled li-separator">
                  <li> <a aria-label="Go to Overview Page" title="Overview" href="/iki.html">Overview</a>
                  </li>
                  <li> <a aria-label="Go to Connect Page" title="Connect"
                      href="/iki/iki-connect-with-us.html">Connect</a> </li>
                  <li> <a aria-label="Go to About Us Page" title="About Us"
                      href="/iki/our-people.html">About Us</a> </li>
                </ul>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12 align-list">
                <ul class="list-unstyled li-separator">
                  <li> <a aria-label="Go to Learn Page" href="/iki/learn.html"><strong>Learn</strong></a>
                  </li>
                  <li> <a aria-label="Go to Research Page" title="Research"
                      href="/iki/insights/research.html">Research</a> </li>
                  <li> <a aria-label="Go to Perspectives Page" title="Perspectives"
                      href="/iki/insights.html">Perspectives</a> </li>
                  <li> <a aria-label="Go to Podcasts Page" title="Podcasts"
                      href="/iki/podcast.html">Podcasts</a> </li>
                  <li> <a aria-label="Go to Videos Page" title="Videos"
                      href="/iki/insights/videos.html">Videos</a> </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- About Us -->
          <div class="aboutus-menu wow fadeInLeftBig animated" data-wow-duration="0.3s"
            style="visibility: visible;-webkit-animation-duration: 0.3s; -moz-animation-duration: 0.3s; animation-duration: 0.3s;">
            <div class="cross visible1024-cross"> <a title="close" href="javascript:void(0);" alt="Cross"
                aria-label="Close menu" aria-haspopup="false" aria-expanded="false"> <img
                  src="https://www.infosys.com/content/dam/infosys-web/burger-menu/en/images/multiply.svg"
                  alt="Cross"> </a> </div>
            <div class="submenu-portion">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <p class="h2-heading mb10">About Us</p>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 align-list">
                <ul class="list-unstyled li-separator">
                  <li> <a aria-label="Go to Overview Page" title="Overview" href="/about.html">Overview</a>
                  </li>
                  <li> <a aria-label="Go to History Page" title="History"
                      href="/about/history.html">History</a> </li>
                  <!--<li> <a  aria-label="Go to Videos Page" title="Corporate Governance" href="/content/infosys-web/en/about/corporate-governance.html">Corporate Governance</a> </li>-->
                  <li> <a aria-label="Go to ESG Page" title="ESG" href="/about/esg.html">ESG</a>
                  </li>
                  <li> <a aria-label="Go to Management Profiles Page" title="Management Profiles"
                      href="/about/management-profiles.html">Management
                      Profiles</a> </li>
                  <li> <a aria-label="Go to TESose Knowledge Institute Page"
                      title="TESose Knowledge Institute" href="/iki.html">TESose Knowledge
                      Institute</a> </li>
                  <li> <a aria-label="Go to TESose Stories Page" title="TESose Stories"
                      href="/infosys-stories.html">TESose Stories</a> </li>
                  <li> <a aria-label="Go to Champions Evolve Page" title="Champions Evolve"
                      href="/championsevolve.html">Champions Evolve</a> </li>
                  <li> <a aria-label="Go to TESose Springboard Page" title="TESose Springboard"
                      href="/about/springboard.html">TESose Springboard</a> </li>
                </ul>

              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 align-list">
                <ul class="list-unstyled li-separator">
                  <li> <a aria-label="Go to Subsidiaries Page" title="Subsidiaries"
                      href="/about/subsidiaries.html">Subsidiaries</a> </li>
                  <li> <a aria-label="Go to Clients Speak Page" title="Clients Speak"
                      href="/about/clients-speak.html">Clients Speak</a> </li>
                  <li> <a aria-label="Go to Alliances Page" title="Alliances"
                      href="/about/alliances.html">Alliances</a> </li>
                  <li> <a aria-label="Go to Innovation Fund Page" title="Innovation Fund"
                      href="/about/innovation-fund.html">Innovation Fund</a> </li>
                  <li> <a aria-label="Go to TESose Innovation Network (IIN) Page"
                      title="TESose Innovation Network (IIN)" href="/about/innovation-network.html">TESose
                      Innovation
                      Network (IIN)</a> </li>
                  <li> <a aria-label="Go to Diversity Equity Inclusion Page"
                      title="Diversity Equity Inclusion" href="/about/diversity-inclusion.html">Diversity
                      Equity
                      Inclusion</a> </li>
                  <li> <a aria-label="Go to Awards Page" title="Awards" href="/about/awards.html">Awards</a>
                  </li>
                  <li> <a aria-label="Go to Analyst Reports Page" title="Analyst Reports"
                      href="/analyst-speak.html">Analyst Reports</a> </li>
                </ul>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12 align-list">
                <ul class="list-unstyled li-separator">
                  <li> <strong>Flagship Brand Partnerships</strong> </li>
                  <li class="border-0"> <a class="collapse-txt fontweight600 collapsed" role="button"
                      data-toggle="collapse" href="#tennismenu" aria-expanded="false"
                      aria-controls="tennismenu">Tennis</a> </li>
                  <div class="collapse" id="tennismenu">
                    <li> <a aria-label="Go to All Partnerships" title="All Partnerships"
                        href="/tennis.html">All Partnerships</a> </li>
                    <li> <a aria-label="Go to Australian Open Page" title="Australian Open"
                        href="/australian-open.html">Australian Open</a> </li>
                    <li> <a aria-label="Go to Roland-Garros Page" title="Roland-Garros"
                        href="/roland-garros.html">Roland-Garros</a> </li>
                    <li> <a aria-label="Go to ATP Page" title="ATP" href="/atp.html">ATP</a> </li>
                    <li> <a aria-label="Go to International Tennis Hall of Fame Page"
                        title="International Tennis Hall of Fame" href="/ithf.html"> International
                        Tennis Hall of Fame </a> </li>
                  </div>
                
                  <li class="border-top"> <a aria-label="Go to Formula E Page" title="Formula E"
                      href="/formulae.html">Formula E</a> </li>

                  <li> <a aria-label="Go to Madison Square Garden Page" title="Madison Square Garden"
                      href="/madison-square-garden.html">Madison Square
                      Garden</a> </li>
                  <li> <a aria-label="Go to The Economist Group Page" title="The Economist Group"
                      href="/the-sustainability-project.html">The Economist
                      Group</a> </li>
                  <li> <a aria-label="Go to Dow Jones Page" title="Dow Jones" href="/dow-jones.html">Dow
                      Jones</a> </li>
                  <li> <a aria-label="Go to Financial Times Page" title="Financial Times"
                      href="/financial-times.html">Financial Times</a> </li>
                  <li> <a aria-label="Go to The Cloud Hub Page" title="The Cloud Hub"
                      href="/cloud-hub.html">The Cloud Hub</a> </li>
                  <li> <a aria-label="Go to Handelsblatt Page" title="Handelsblatt"
                      href="/handelsblatt.html">Handelsblatt</a> </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <!-- Burger Menu End -->