<section id="investors" class="scroll-section pt75">
    <article class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center wow fadeInUp animated" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
          <img src="public/images/home/vertical-line.png" class="" alt="">
          <h2 class="h2-heading">Investors</h2>
          <p class="col-lg-8 col-md-8 col-md-offset-2 para-txt light-gray mb50">Maximizing shareholder value with
            good corporate governance</p>
        </div>
        <div class="video-img-container wow fadeInUp animated" data-wow-delay="0.6s" style="visibility: visible;-webkit-animation-delay: 0.6s; -moz-animation-delay: 0.6s; animation-delay: 0.6s;">
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 mb-sm-20">
            <div class="relative overflow-hidden"> <a class="invester-sec" href="" aria-label="Know about Integrated Annual Report 2024" title="Integrated Annual Report 2024" target="_blank" rel="noopener noreferrer"> <img data-src="public/images/home/home1.png" alt="Integrated Annual Report 2024" class="img-responsive" src="public/images/home/home1.png">
                <div class="video-caption">Integrated Annual Report 2024</div>
              </a> </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <h4 class="aboutus-inthenews-head">Investor central</h4>
            <div class="aboutus-inthenews-row"> <span class="investors-news-head text-uppercase">Results</span>
              <h3 class="investors-news-desc"> <a href="/investors/reports-filings/quarterly-results/2024-2025/q1.html" aria-label="Know about First Quarter FY25" title="First Quarter FY25">First Quarter FY25</a></h3>
            </div>
            <div class="aboutus-inthenews-row"> <span class="investors-news-head text-uppercase">Archived Webcast</span>
              <h3 class="investors-news-desc"> <a href="/investors/reports-filings/quarterly-results/2024-2025/q1/press-meet.html" aria-label="Know about Q1 FY25 Press Conference" title="Q1 FY25 Press Conference">Q1 FY25 Press
                  Conference</a></h3>
            </div>
            <div class="aboutus-inthenews-row"> <span class="investors-news-head text-uppercase">Event</span>
              <h3 class="investors-news-desc"> <a href="/investors/news-events/annual-general-meeting/2024.html" aria-label="Know about The 4rd Annual General Meeting" title="The 43rd Annual General Meeting">The 43rd
                  Annual General Meeting</a></h3>
            </div>
            <div class="aboutus-inthenews-row no-border"> <a href="/investors.html" aria-label="Read more about Investors" title="View All" class="view-all light text-uppercase">View All</a>
            </div>
          </div>
        </div>
      </div>
    </article>
  </section>